// app global css in SCSS form
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Raleway:wght@500&display=swap');

*{
  font-family: 'Playfair Display', serif;
  //font-family: 'Raleway', sans-serif;
  padding: 0;
  margin: 0;
}
p{
  padding: 0;
  margin: 0;
}

.text-xs{
  font-size: 8px;
}
.text-sm{
  font-size: 12px;
}
.text-md{
  font-size: 16px;
}
.text-lg{
  font-size: 21px;
}
.text-xl{
  font-size: 32px;
}


.typewriter p {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation:
    typing 3.5s steps(40, end),
    blink-caret .75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange; }
}
.header{
  background: #ffffff;
  border-bottom-color: #d3dce4;
  border-bottom-width: 1px;
  box-shadow: 0 4px 10px #0000000d;
}
.title{
  font-weight: 500;
  font-size: 21px;
  font-family: 'Raleway', sans-serif;
}
.primary-card{
  background: rgba(0, 0, 0, 0) linear-gradient(to right bottom, rgb(241, 189, 189), rgb(192, 3, 3) 120%) repeat scroll 0% 0%;
  border-radius: 10px;
  padding: 16px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px, rgba(0, 0, 0, 0.04) 0px 10px 10px;
}
.tcard {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px, rgba(0, 0, 0, 0.04) 0px 10px 10px;
  padding: 24px;
  border: 1px solid #e0e7f4;
  background-color: #fff;
  //box-shadow: rgba(0, 0, 0, 0.05) 0px 4px 10px;
}
.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
